[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
email-validator = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pymysql = "*"
flask-bcrypt = "*"
wheel = "*"
flask-login = "*"
flask-mail = "*"
gunicorn = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
