{% extends "includes/user_index.html" %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.email.label }}
                {% if form.email.errors %}
                    {{ form.email(class='form-control is-invalid') }}
                    <div class="invalid-feedback" style="font-size: 15px;">
                        {% for error in form.email.errors %}
                        <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class='form-control') }}
                {% endif %}
            </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {% if form.password.errors %}
                        {{ form.password(class='form-control is-invalid') }}
                        <div class="invalid-feedback" style="font-size: 15px;">
                            {% for error in form.password.errors %}
                            <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class='form-control') }}
                    {% endif %}
                </div>
                <div class="checkbox">
                    {{ form.remember() }}
                    {{ form.remember.label }}
                    <label class="pull-right">
                    <a href="{{ url_for('reset_request') }}" style="color: blue;">Forgotten Password?</a>
                    </label>
                </div>
                {{ form.submit(class='btn btn-success btn-flat m-b-30 m-t-30')}} 

                <div class="register-link m-t-15 text-center">
                    <p>Don't have account ? <a href="{{ url_for('register') }}"> Sign Up Here</a></p>
                </div>
    </form>
{% endblock %}