{% extends "includes/user_index.html" %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {% if form.username.errors %}
                {{ form.username(class='form-control is-invalid') }}
                <div class="invalid-feedback" style="font-size: 15px;">
                    {% for error in form.username.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.username(class='form-control') }}
            {% endif %}
        </div>
            <div class="form-group">
                {{ form.email.label }}
                {% if form.email.errors %}
                    {{ form.email(class='form-control is-invalid') }}
                    <div class="invalid-feedback" style="font-size: 15px;">
                        {% for error in form.email.errors %}
                        <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class='form-control') }}
                {% endif %}
            </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {% if form.password.errors %}
                        {{ form.password(class='form-control is-invalid') }}
                        <div class="invalid-feedback" style="font-size: 15px;">
                            {% for error in form.password.errors %}
                            <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class='form-control') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_pass.label }}
                    {% if form.confirm_pass.errors %}
                        {{ form.confirm_pass(class='form-control is-invalid') }}
                        <div class="invalid-feedback" style="font-size: 15px;">
                            {% for error in form.confirm_pass.errors %}
                            <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_pass(class='form-control') }}
                    {% endif %}
                </div>
                {{ form.submit(class='btn btn-primary btn-flat m-b-30 m-t-30')}}
                <div class="register-link m-t-15 text-center">
                    <p>Already have account ? <a href="{{ url_for('login') }}"> Sign in</a></p>
                </div>
    </form>
{% endblock content %}