{% extends "includes/user_index.html" %}
{% block content %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.password.label }}
            {% if form.password.errors %}
            {{ form.password(class='form-control is-invalid') }}
                <div class="invalid-feedback"style="font-size: 15px;">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
            {{ form.password(class='form-control', placeholder='Password') }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.confirm_pass.label }}
            {% if form.confirm_pass.errors %}
            {{ form.confirm_pass(class='form-control is-invalid') }}
                <div class="invalid-feedback"style="font-size: 15px;">
                    {% for error in form.confirm_pass.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
            {{ form.confirm_pass(class='form-control', placeholder='Confirm Password') }}
            {% endif %}
        </div>
            {{ form.submit(class="btn btn-primary btn-flat m-b-15") }}
    </form>
{% endblock content %}