{% from "helper.html" import displayField %}
{% extends "includes/layout.html" %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Items</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Send Items</a></li>
                        <li class="active">Items</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %} 
    <div class="animated fadeIn">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="row">

                <div class="col-xs-6 col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <strong>~</strong>
                        </div>
                        <div class="card-body card-block">
                            <div class="form-group">
                                {{ form.descr.label }}
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-adjust"></i></div>
                                    {{ form.descr(class="form-control", value=item.descr, readonly=true) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.card.label }}
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-th"></i></div>
                                    {% if form.card.errors %}
                                        {{ form.card(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.card.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.card(class="form-control", value=item.card, readonly=true ) }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.requisit.label }}
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-th-large"></i></div>
                                    {% if form.requisit.errors %}
                                        {{ form.requisit(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.requisit.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.requisit(class="form-control") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.date.label }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    {% if form.date.errors %}
                                        {{ form.date(class="form-control datepicker is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.date.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.date(class="form-control datepicker") }}
                                    {% endif %}
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <strong>~</strong>
                        </div>
                        <div class="card-body card-block">
                            <div class="form-group">
                                {{ form.t_o.label }}
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-users"></i></div>
                                    {% if form.t_o.errors %}
                                        {{ form.t_o(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.t_o.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.t_o(class="form-control") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.out_put.label }}
                                {{ displayField(form.out_put, **{"onkeyup":"calc('out_put', 'balance', 'balan')"}) }}
                            </div>
                            <div class="form-group">
                                {{ form.balance.label }}
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
                                    {% if form.balance.errors %}
                                        {{ form.balance(class="form-control is-invalid", readonly=true) }}
                                    <div class="invalid-feedback">
                                        {% for error in form.balance.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.balance(class="form-control", id="balance", readonly=true) }} 
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Available Balance</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
                                        <input type="text" name="balan" id="balan" value="{{ item.curr_balance }}" class="form-control" readonly> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                    {{ form.submit(class="btn btn-success") }}
                </div></br></br></br>
            </div>
            
        </form>
        
    </div><!-- .animated -->
    
    <script type="text/javascript">
        function calc(b, c, d)
        {
            var bal = document.getElementById(d).value;
            var out = document.getElementById(b).value;
            document.getElementById(c).value = bal - out;
        }
   </script>
{% endblock content %}